.contact .contactContent {
  display: flex;
  /* padding-top:100px; */
  /* flex-wrap: wrap; */
}

.contactContent .contactDetails {
  width: 45%;
}

.contactDetails h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 135%;
  color: #3f3d3d;
  padding-top: 20px;
}

.contactDetails p {
  padding: 16px 0 48px 0;
  max-width: 458px;
}

.contactDetails .imageWrapper img:first-child {
  padding-right: 24px;
}
.contactContent .contactImage {
  width: 55%;
}

.contactImage .imageWrapper {
  width: 455px;
  height: 329px;
  max-width: 100%;
}

.contactImage .imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
vertical-align: bottom;
}
