.subscribetion {
  background: #fdf9f1;
}

.subscribetionText {
  width: 305px;
}

.subscribetionDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 84px;
  text-align: center;
  flex-wrap: wrap;
}

.subscribetionText .imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  max-width: 100%;
  background: #ffffff;
  border-radius: 12px;
  margin: 94px auto 32px auto;
  text-align: center;
}

.subscribetionText h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #000000;
}
.subscribetionText p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #717484;
  padding: 8px 0 138px 0;
}
